<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @previous_city.city %>
</p>

<%= link_to 'Edit', edit_previous_city_path(@previous_city) %> |
<%= link_to 'Back', previous_cities_path %>
